.header {
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: aqua;
   position: fixed;
   top: 0;
   overflow: visible;
   z-index: 99;
   color: var(--white-100);
}

/* Navbar Top */

.top_container {
   display: flex;
   justify-content: center;
   height: 40px;
   background-color: black;

   & h1 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      

      & span {
         font-weight: 900;
      }
   }
}

.top_wrapper {
   justify-content: space-between;
}

.social_icons {
   display: flex;
   gap: 10px;
   align-items: center;

   & a {
      font-size: 14px;

      &:hover {
         opacity: .9;
      }
   }
}

/* Navbar */

.container {
   height: 70px;
   background-color: var(--red);
   @media (max-width: 480px) {
      height: 50px;
   }
}

.wrapper {
   justify-content: space-between;
   height: 100%;

   & img {
      height: 70%;
   }

   @media (max-width: 1200px) {
      
   }

   @media (max-width: 968px) {
      padding: 20px;
   }

   @media (max-width: 768px) {
      
   }

   @media (max-width: 480px) {
      
   }

   @media (max-width: 350px) {
      
   }
}

.navbar_list {
   display: flex;
   gap: 20px;
   text-transform: uppercase;
}
